form{
    background-image: url("../images/regform.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 40%;
    margin:  auto;
    padding: 40px;
    color: rgba(255, 3, 3, 0.623);
    border-radius: 30px;
    box-shadow:0 ,0 10px   rgb(233, 17, 2);
    }

 legend{
    font-size: 20px;
    text-align: center;
    font-weight:bolder;
 }   

 input[type=text],input[type=email],input[type=password],input[type=tel],input[type=date],input[type=datetime-local],input[type=text],
 select{
    width: 60%;
    height: 20px;
    border-radius: 10px;
    padding-left: 10px;
    margin-top: 10px;
    box-shadow:0 0 10px   rgb(252, 252, 253);
    border: none;
 }
 body{
              
    background-image: url("../images/regback.png");
    background-repeat: no-repeat;
            background-size: cover;
 }